.cover{
  width: 100%;
  max-height: 1000px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .text-container{
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: bold;
  }

  .left-text{
    top: 180px;
    left: 150px;
  }

  .right-text{
    top: 400px;
    right: 150px
  }
}
