<mat-toolbar style="background-color: rgb(40, 223, 223);">
  <span>Your Driving Friend <fa-icon class="drive" [icon] = "faDrive"></fa-icon></span>
  <div class="spacer"></div>
  <a class="nav-link active" routerLink="home" routerLinkActive="active-link" mat-button>Home</a>
  <a class="nav-link active" routerLink="about" routerLinkActive="active-link" mat-button>About</a>
  <a class="nav-link active" routerLink="services" routerLinkActive="active-link"mat-button>Services</a>
  <a class="nav-link active" routerLink="vision" routerLinkActive="active-link"mat-button>Our vision</a>
  <a class="nav-link active" routerLink="credits" routerLinkActive="active-link"mat-button>Credits</a>
  <a class="nav-link active" routerLink="login" routerLinkActive="active-link"mat-button>Login</a>

</mat-toolbar>
